@model Kart

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row justify-content-center">
    
        <div class=" col-md-4 mt-3">
            <div class="card text-center mb-3">

                <div class="card-header">
                    <h6 class="text-left">Sevgili </h6>
                    <h4 class="card-title"> @Model.AliciAd</h4>
                </div>

                <img src="@Url.Content($"~/image/{Model.ResimAd}.png")" class="card-img-bottom" width="250" />


                <div class="card-body">
                    <p>@Model.Mesaj</p>
                </div>

                <div class="card-body">
                    <h6 class="text-left">Gönderen  </h6>
                    <h4>@Model.GonderenAd</h4>
                </div>

            </div>
        </div>
    
</div>