
@{
    ViewBag.Title = "Resim Seç";
    ViewBag.Don = "";
    ViewBag.KartGoruntule = "";
    ViewBag.KartEkle = "active";
}

<h2 style="font-size:40px" class="text-center">Resiminizi Seçin</h2>

@using (Html.BeginForm("Yeni", "Kartlar", FormMethod.Get))
{
    <div class="form-group">
        <select name="ResimAd" class="image-picker">
            <option data-img-src="/Image/1.png" data-img-class="first" data-img-alt="Page 1" value='1'>  Kart 1 </option>
            <option data-img-src="/Image/2.png" data-img-alt="Page 2" value='2'>  Kart 2  </option>
            <option data-img-src="/Image/3.png" data-img-alt="Page 3" value='3'>  Kart 3  </option>
            <option data-img-src="/Image/4.png" data-img-alt="Page 4" value='4'>  Kart 4  </option>
            <option data-img-src="/Image/5.png" data-img-alt="Page 5" value='5'>  Kart 5  </option>
            <option data-img-src="/Image/6.png" data-img-alt="Page 6" value='6'>  Kart 6  </option>
            <option data-img-src="/Image/7.png" data-img-alt="Page 7" value='7'>  Kart 7  </option>
            <option data-img-src="/Image/8.png" data-img-alt="Page 8" value='8'>  Kart 8  </option>
            <option data-img-src="/Image/9.png" data-img-alt="Page 9" value='9'>  Kart 9  </option>
            <option data-img-src="/Image/10.png" data-img-alt="Page 10" value='10'> Kart 10 </option>
            <option data-img-src="/Image/11.png" data-img-alt="Page 11" value='11'> Kart 11 </option>
            <option data-img-src="/Image/12.png" data-img-alt="Page 12" value='12'> Kart 12 </option>
            <option data-img-src="/Image/13.png" data-img-alt="Page 13" value='13'> Kart 13 </option>
            <option data-img-src="/Image/14.png" data-img-alt="Page 14" data-img-class="last" value='14'> Kart 14 </option>
        </select>
    </div>
    <div class="">
        <a href="@Url.Action("Index","Dashboard")" class="btn btn-danger btn-lg ">Geri Dön</a>
        <button class="btn btn-success btn-lg" style="margin-left:65%;">Devam Edin</button>
    </div>
}


