@{
    ViewBag.Title = "Şifremi Unuttum Onayı";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Şifrenizi sıfırlamak için lütfen e-postanızı kontrol edin.
    </p>
</div>
	
